<a href="https://colab.research.google.com/github/maezie19-02475/ITBA-3206-The-Conquerors/blob/main/COVID_19_DESCRIPTIVE_ANALYSIS_INFORMATION_AND_IMPACT_ON_EMPLOYMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COVID-19 DESCRIPTIVE ANALYSIS: INFORMATION AND IMPACT ON EMPLOYMENT

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(1).csv'

In [ ]:
data= pd.read_csv(url)
data.head(70)

,State,Total Cases,Confirmed Cases,Probable Cases,New cases today,Change over 7 days,Total tests (test encounters),Total tests (specimens),Total tests (people),Total tests,...,Ever hospitalized,Ever in ICU,Ever on ventilator,Now hospitalized (confirmed + suspected),Now hospitalized (confirmed only),Now in ICU (confirmed + suspected),Hospital discharges,Total deaths,Probable deaths,Confirmed deaths
0,Alabama,"499, 819","392, 077","107, 742",408,1.30%,-,0,"2, 323, 788","3, 977, 676",...,"45, 976","2, 676","1, 515",683,540,208,0,"10, 148","2, 185","7, 963"
1,Alaska,"56, 886",-,-,0,1.60%,-,"1, 731, 628",-,"1, 848, 812",...,"1, 293",-,-,32,27,6,0,305,0,0
2,American Samoa,0,0,NaN,-,NaN,-,"2, 140",-,-,...,-,-,-,-,-,-,-,0,-,-
3,Arizona,"826, 454","769, 935","56, 519","1, 335",1.20%,-,"7, 908, 105","3, 842, 945","6, 247, 689",...,"57, 907",-,-,"1, 014",700,257,"118, 932","16, 328","1, 925","14, 403"
4,Arkansas,"324, 818","255, 726","69, 092",165,0.70%,-,"2, 736, 442",-,"2, 479, 922",...,"14, 926",-,"1, 533",442,339,135,-,"5, 319","1, 011","4, 308"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(2).csv'

In [ ]:
data= pd.read_csv(url)
data.head(2000)

,State,Total Cases,Total Deaths,No. of Facilities Affected,Percent of state deaths from LTC facilities,New cases since Feb 24,New deaths since Feb 24,Total resident & staff doses administered,Staff & resident 1st dose administered,Staff & resident 2nd dose administered
0,Alabama,"15, 222","1, 625",0,16%,0.40%,0%,"79, 852","49, 676","29, 857"
1,Alaska,135,6,6,2%,0%,0%,"6, 533","4, 308","2, 182"
2,American Samoa,-,-,-,-,-,-,-,-,-
3,Arizona,"16, 384","2, 505","1, 000",15.30%,1%,1.30%,"109, 562","77, 651","31, 524"
4,Arkansas,"22, 498","1, 986",220,37.30%,0.50%,0.20%,"28, 403","18, 911","9, 391"
...,...,...,...,...,...,...,...,...,...,...
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(3).csv'

In [ ]:
data= pd.read_csv(url)
data.head(2000)

,State,Black or African American,Hispanic or Latino,Asian,White,Native Hawaiian or Other Pacific Islander,American Indian or Alaska Native,Asian or Pacific Islander,Black or African America,Hispanic or Latino.1,...,White.1,Native Hawaiian or Other Pacific Islander.1,American Indian or Alaska Native.1,Asian or Pacific Islander.1,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Alabama,"6, 373","5, 901","3, 430","4, 829",0,0,-,171,66,...,142,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,"6, 193","6, 163","5, 329","3, 844","16, 384","11, 151",-,37,25,...,27,185,101,-,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,-,-,-,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"8, 675","11, 072","4, 978","7, 997",-,"14, 728",-,146,212,...,209,-,492,-,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"11, 064","15, 318","6, 402","9, 022","38, 452","5, 236",-,171,83,...,181,641,88,-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN