<a href="https://colab.research.google.com/github/maezie19-02475/ITBA-3206-The-Conquerors/blob/main/COVID_19_DESCRIPTIVE_ANALYSIS_INFORMATION_AND_IMPACT_ON_EMPLOYMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COVID-19 DESCRIPTIVE ANALYSIS: INFORMATION AND IMPACT ON EMPLOYMENT

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(1).csv'

In [ ]:
data= pd.read_csv(url)
data.head(56)

,State,Total Cases,Confirmed Cases,Probable Cases,New cases today,Change over 7 days,Total tests (test encounters),Total tests (specimens),Total tests (people),Total tests,...,Ever hospitalized,Ever in ICU,Ever on ventilator,Now hospitalized (confirmed + suspected),Now hospitalized (confirmed only),Now in ICU (confirmed + suspected),Hospital discharges,Total deaths,Probable deaths,Confirmed deaths
0,Alabama,"499, 819","392, 077","107, 742",408,1.30%,-,0,"2, 323, 788","3, 977, 676",...,"45, 976","2, 676","1, 515",683,540,208,0,"10, 148","2, 185","7, 963"
1,Alaska,"56, 886",-,-,0,1.60%,-,"1, 731, 628",-,"1, 848, 812",...,"1, 293",-,-,32,27,6,0,305,0,0
2,American Samoa,0,0,NaN,-,NaN,-,"2, 140",-,-,...,-,-,-,-,-,-,-,0,-,-
3,Arizona,"826, 454","769, 935","56, 519","1, 335",1.20%,-,"7, 908, 105","3, 842, 945","6, 247, 689",...,"57, 907",-,-,"1, 014",700,257,"118, 932","16, 328","1, 925","14, 403"
4,Arkansas,"324, 818","255, 726","69, 092",165,0.70%,-,"2, 736, 442",-,"2, 479, 922",...,"14, 926",-,"1, 533",442,339,135,-,"5, 319","1, 011","4, 308"
5,California,"3, 501, 394","3, 501, 394",-,"3, 816",0.70%,-,"49, 646, 014",-,"41, 936, 081",...,-,-,-,"4, 220","3, 814","1, 120",-,"54, 124",-,-
6,Colorado,"436, 602","410, 976","24, 786",840,1.90%,"6, 415, 123",-,"2, 616, 541","5, 981, 984",...,"23, 904",-,-,433,437,124,"23, 003","5, 989",735,"5, 251"
7,Connecticut,"285, 330","265, 709","19, 621",0,1.90%,-,"6, 520, 366",-,"6, 940, 361",...,-,-,-,476,420,106,-,"7, 704","1, 377","6, 327"
8,Delaware,"88, 354","83, 621","4, 733",215,1.80%,"1, 431, 942",-,"633, 424","1, 635, 102",...,-,-,-,128,123,14,-,"1, 473",136,"1, 337"
9,District of Columbia,"41, 419",-,-,146,2%,"1, 261, 363",-,"441, 942","1, 477, 154",...,-,-,-,226,186,49,-,"1, 030",-,-
10,Florida,"1, 909, 209","1, 548, 837","360, 372","4, 024",1.90%,"22, 339, 182","19, 482, 607","11, 248, 247","23, 649, 570",...,"82, 237",-,-,"3, 754","3, 422",852,-,"32, 266",-,-
11,Georgia,"1, 023, 487","828, 336","195, 151","1, 709",1.70%,-,"7, 359, 069",-,"7, 016, 363",...,"56, 797","9, 263",-,"1, 937","1, 512",533,-,"17, 906","2, 308","15, 598"
12,Guam,"7, 749","7, 540",209,0,0.20%,-,"120, 426",-,"77, 048",...,-,-,-,53,0,-,-,133,-,-
13,Hawaii,"28, 699","27, 891",808,53,1.30%,"1, 146, 796",-,-,"1, 100, 672",...,"2, 226",-,-,31,25,9,-,445,-,445
14,Idaho,"172, 931","139, 874","33, 057",104,1%,-,"1, 103, 725","645, 838","1, 282, 570",...,"7, 184","1, 245",-,135,119,33,-,"1, 879",227,"1, 652"
15,Illinois,"1, 198, 335",-,-,"1, 068",1%,-,"18, 640, 190",-,"15, 055, 829",...,-,-,-,"1, 202",943,247,-,"23, 014","2, 251","20, 763"
16,Indiana,"667, 262",-,-,746,0.80%,-,"8, 242, 367","3, 150, 418","7, 160, 795",...,"43, 217","7, 600",-,626,408,133,"434, 805","12, 737",427,"12, 310"
17,Iowa,"282, 384","282, 384",-,257,0.80%,-,"2, 753, 899","1, 329, 195","2, 996, 678",...,-,-,-,175,168,38,-,"5, 558",-,-
18,Kansas,"295, 861",-,-,0,0.70%,-,"2, 525, 259","1, 270, 547","2, 600, 431",...,"9, 387","2, 554",411,265,228,56,"6, 473","4, 812",-,-
19,Kentucky,"410, 709","314, 385","96, 324",525,1.50%,-,"3, 975, 672",-,"3, 564, 377",...,"19, 457","4, 034",-,603,515,159,-,"4, 819",450,"4, 369"
20,Louisiana,"433, 785","372, 514","61, 271",740,0.90%,-,"5, 634, 193",-,"5, 662, 940",...,-,-,-,491,575,167,-,"9, 748",715,"9, 033"
21,Maine,"45, 794","35, 846","9, 948",159,2.60%,-,"1, 660, 180",-,"1, 088, 946",...,"1, 570",-,-,92,75,23,-,706,23,683
22,Maryland,"387, 319","387, 319",-,709,1.40%,-,"8, 097, 590","3, 421, 865","8, 513, 554",...,"35, 651",-,-,"1, 077",798,255,-,"7, 955",182,"7, 773"
23,Massachusetts,"591, 356","559, 083","32, 273","1, 425",1.80%,-,"16, 825, 551","4, 963, 875","16, 496, 791",...,"19, 713",-,-,628,532,189,-,"16, 417",332,"16, 085"
24,Michigan,"656, 072","596, 054","60, 018",0,1.60%,-,"10, 621, 967",-,"10, 933, 594",...,-,-,-,912,792,223,-,"16, 658",992,"15, 666"
25,Minnesota,"490, 011","465, 547","24, 464",895,1.10%,"7, 111, 428",-,"3, 524, 061","9, 186, 316",...,"25, 978","5, 364",-,293,225,55,-,"6, 550",274,"6, 276"
26,Mississippi,"297, 581","184, 278","113, 303",260,0.90%,-,"1, 642, 348",-,"1, 264, 059",...,"9, 162",-,-,398,322,118,-,"6, 808","2, 071","4, 737"
27,Missouri,"480, 643","480, 643",-,291,0.50%,-,"4, 565, 866","2, 359, 226","2, 550, 576",...,-,-,-,962,632,232,-,"8, 161",-,-
28,Montana,"100, 914","95, 390","5, 524",72,1%,-,"1, 104, 488",-,"998, 564",...,"4, 630",-,-,64,53,11,-,"1, 381",-,-
29,Nebraska,"203, 026",-,-,373,1.10%,-,"2, 421, 684","974, 759","1, 770, 578",...,"6, 237",-,-,156,136,47,-,"2, 113",-,-
30,Nevada,"296, 190","296, 190",-,730,0.80%,"2, 770, 192",-,"1, 427, 948","2, 848, 949",...,-,-,-,417,357,84,-,"5, 037",-,-
31,New Hampshire,"76, 861","54, 064","22, 797",166,1.90%,-,"1, 497, 185","633, 646","874, 296",...,"1, 131",348,-,96,74,21,-,"1, 184",-,-
32,New Jersey,"812, 609","720, 939","91, 670","2, 519",2.90%,-,"10, 902, 830",-,"10, 333, 325",...,"64, 396",-,-,"1, 851","1, 695",335,"77, 193","23, 574","2, 397","21, 177"
33,New Mexico,"186, 922",-,-,180,1%,-,"2, 783, 542",-,"1, 848, 170",...,"13, 252",-,-,169,152,49,-,"3, 808",-,-
34,New York,"1, 618, 169",-,-,"6, 789",3.10%,"39, 695, 100",-,-,"32, 372, 491",...,-,-,-,"5, 116","4, 546",964,"150, 100","39, 029",-,-
35,North Carolina,"872, 176","759, 617","112, 559",0,1.60%,-,"9, 688, 838",-,"9, 409, 980",...,-,-,-,"1, 161","1, 081",320,"819, 839","11, 502","1, 333","10, 169"
36,North Dakota,"100, 391","94, 928","5, 463",34,0.60%,"1, 425, 146","1, 536, 487","406, 303","1, 224, 572",...,"3, 880",567,-,73,49,14,-,"1, 478",-,-
37,Northern Mariana Islands,145,145,-,1,1.40%,-,"26, 131","17, 542","28, 804",...,4,-,-,0,0,-,-,2,2,-
38,Ohio,"978, 471","836, 358","142, 113",735,1.10%,-,"10, 257, 157",-,"10, 099, 273",...,"50, 881","7, 207",-,"1, 149",863,307,-,"17, 656","2, 594","14, 752"
39,Oklahoma,"428, 997",-,-,461,1.10%,-,"3, 548, 479",-,"1, 451, 189",...,"24, 332",-,-,510,444,132,-,"4, 534",-,-
40,Oregon,"157, 079",-,-,195,1.10%,-,"3, 850, 973",-,"3, 866, 354",...,"8, 714",-,-,197,129,50,-,"2, 296",-,-
41,Pennsylvania,"948, 643","814, 540","134, 103","1, 658",1.80%,"10, 681, 716",-,"4, 756, 664","11, 275, 755",...,-,-,-,"1, 908","1, 554",354,-,"24, 349",-,-
42,Puerto Rico,"101, 632","93, 620","8, 012",305,1.30%,-,"415, 664",-,"387, 670",...,-,-,-,151,98,26,-,"2, 062",310,"1, 752"
43,Rhode Island,"128, 781",-,-,265,1.90%,"3, 123, 348",-,"806, 351","2, 253, 224",...,"9, 020",-,-,179,141,20,"7, 865","2, 547",-,-
44,South Carolina,"525, 865","449, 977","75, 888","1, 408",1.70%,-,"5, 107, 156",-,"4, 195, 385",...,"20, 725",-,-,575,532,129,-,"8, 574","1, 010","7, 744"
45,South Dakota,"113, 589","100, 690","12, 899",211,1%,-,"701, 924","428, 129","534, 513",...,"6, 705",-,-,67,51,11,-,"1, 900",-,-
46,Tennessee,"782, 206","653, 905","128, 301",0,0.90%,-,"6, 872, 745",-,"6, 139, 128",...,"18, 870",-,-,593,512,163,-,"11, 543","2, 265","9, 278"
47,Texas,"2, 686, 818","2, 320, 857","365, 961","2, 953",1.60%,-,"19, 907, 384",-,"21, 032, 499",...,-,-,-,"5, 423","4, 792","1, 565",-,"44, 451",-,-
48,US Virgin Islands,"2, 714",-,-,0,2.60%,-,-,"48, 961","25, 266",...,-,-,-,5,5,3,-,25,25,-
49,Utah,"374, 850",-,-,412,1%,-,"2, 910, 121","1, 876, 802","3, 608, 311",...,"14, 891","2, 344",822,201,183,80,-,"1, 976",-,-
50,Vermont,"16, 083","15, 635",448,119,5.80%,-,"1, 124, 215","335, 695","1, 169, 836",...,-,-,-,26,26,4,-,208,-,-
51,Virginia,"585, 700","461, 172","124, 528","1, 163",1.70%,"6, 038, 209",-,-,"6, 521, 616",...,"24, 661",-,-,"1, 190",973,237,"48, 428","9, 596","1, 492","8, 104"
52,Washington,"344, 532","325, 053","19, 479",664,1.40%,"5, 393, 756",-,-,"3, 787, 170",...,"19, 599",-,-,399,334,90,-,"5, 041",-,-
53,West Virginia,"133, 445","106, 629","26, 816",155,1.20%,-,"2, 236, 551",-,"2, 251, 318",...,-,-,-,231,203,44,-,"2, 325",344,"1, 981"
54,Wisconsin,"621, 654","566, 693","54, 961",377,0.70%,"7, 080, 595",-,"3, 214, 557","7, 824, 428",...,"26, 457","2, 273",-,299,273,76,-,"7, 106",625,"6, 481"
55,Wyoming,"54, 764","46, 397","8, 367",0,0.70%,-,"649, 293","228, 661","668, 740",...,"1, 391",-,-,32,23,9,-,682,-,-

In [ ]:
data= pd.DataFrame(data)
data.drop(['Probable Cases', 'Total tests (test encounters)', 
          'Total tests (specimens)', 'Total tests (people)', 'Total tests (spicemens)',
          'Total tests (people).1', 'Total tests (spicemens).1', 'Total tests (people).2',
          'Now hospitalized', 'Now in ICU', 'Now in ventilator', 'Ever hospitalized',
          'Ever in ICU', 'Ever on ventilator', 'Probable deaths', 
          'Confirmed deaths'], axis = 1, inplace=True)
data.head(56)

,State,Total Cases,Confirmed Cases,New cases today,Change over 7 days,Total tests,Now hospitalized (confirmed + suspected),Now hospitalized (confirmed only),Now in ICU (confirmed + suspected),Hospital discharges,Total deaths
0,Alabama,"499, 819","392, 077",408,1.30%,"3, 977, 676",683,540,208,0,"10, 148"
1,Alaska,"56, 886",-,0,1.60%,"1, 848, 812",32,27,6,0,305
2,American Samoa,0,0,-,NaN,-,-,-,-,-,0
3,Arizona,"826, 454","769, 935","1, 335",1.20%,"6, 247, 689","1, 014",700,257,"118, 932","16, 328"
4,Arkansas,"324, 818","255, 726",165,0.70%,"2, 479, 922",442,339,135,-,"5, 319"
5,California,"3, 501, 394","3, 501, 394","3, 816",0.70%,"41, 936, 081","4, 220","3, 814","1, 120",-,"54, 124"
6,Colorado,"436, 602","410, 976",840,1.90%,"5, 981, 984",433,437,124,"23, 003","5, 989"
7,Connecticut,"285, 330","265, 709",0,1.90%,"6, 940, 361",476,420,106,-,"7, 704"
8,Delaware,"88, 354","83, 621",215,1.80%,"1, 635, 102",128,123,14,-,"1, 473"
9,District of Columbia,"41, 419",-,146,2%,"1, 477, 154",226,186,49,-,"1, 030"
10,Florida,"1, 909, 209","1, 548, 837","4, 024",1.90%,"23, 649, 570","3, 754","3, 422",852,-,"32, 266"
11,Georgia,"1, 023, 487","828, 336","1, 709",1.70%,"7, 016, 363","1, 937","1, 512",533,-,"17, 906"
12,Guam,"7, 749","7, 540",0,0.20%,"77, 048",53,0,-,-,133
13,Hawaii,"28, 699","27, 891",53,1.30%,"1, 100, 672",31,25,9,-,445
14,Idaho,"172, 931","139, 874",104,1%,"1, 282, 570",135,119,33,-,"1, 879"
15,Illinois,"1, 198, 335",-,"1, 068",1%,"15, 055, 829","1, 202",943,247,-,"23, 014"
16,Indiana,"667, 262",-,746,0.80%,"7, 160, 795",626,408,133,"434, 805","12, 737"
17,Iowa,"282, 384","282, 384",257,0.80%,"2, 996, 678",175,168,38,-,"5, 558"
18,Kansas,"295, 861",-,0,0.70%,"2, 600, 431",265,228,56,"6, 473","4, 812"
19,Kentucky,"410, 709","314, 385",525,1.50%,"3, 564, 377",603,515,159,-,"4, 819"
20,Louisiana,"433, 785","372, 514",740,0.90%,"5, 662, 940",491,575,167,-,"9, 748"
21,Maine,"45, 794","35, 846",159,2.60%,"1, 088, 946",92,75,23,-,706
22,Maryland,"387, 319","387, 319",709,1.40%,"8, 513, 554","1, 077",798,255,-,"7, 955"
23,Massachusetts,"591, 356","559, 083","1, 425",1.80%,"16, 496, 791",628,532,189,-,"16, 417"
24,Michigan,"656, 072","596, 054",0,1.60%,"10, 933, 594",912,792,223,-,"16, 658"
25,Minnesota,"490, 011","465, 547",895,1.10%,"9, 186, 316",293,225,55,-,"6, 550"
26,Mississippi,"297, 581","184, 278",260,0.90%,"1, 264, 059",398,322,118,-,"6, 808"
27,Missouri,"480, 643","480, 643",291,0.50%,"2, 550, 576",962,632,232,-,"8, 161"
28,Montana,"100, 914","95, 390",72,1%,"998, 564",64,53,11,-,"1, 381"
29,Nebraska,"203, 026",-,373,1.10%,"1, 770, 578",156,136,47,-,"2, 113"
30,Nevada,"296, 190","296, 190",730,0.80%,"2, 848, 949",417,357,84,-,"5, 037"
31,New Hampshire,"76, 861","54, 064",166,1.90%,"874, 296",96,74,21,-,"1, 184"
32,New Jersey,"812, 609","720, 939","2, 519",2.90%,"10, 333, 325","1, 851","1, 695",335,"77, 193","23, 574"
33,New Mexico,"186, 922",-,180,1%,"1, 848, 170",169,152,49,-,"3, 808"
34,New York,"1, 618, 169",-,"6, 789",3.10%,"32, 372, 491","5, 116","4, 546",964,"150, 100","39, 029"
35,North Carolina,"872, 176","759, 617",0,1.60%,"9, 409, 980","1, 161","1, 081",320,"819, 839","11, 502"
36,North Dakota,"100, 391","94, 928",34,0.60%,"1, 224, 572",73,49,14,-,"1, 478"
37,Northern Mariana Islands,145,145,1,1.40%,"28, 804",0,0,-,-,2
38,Ohio,"978, 471","836, 358",735,1.10%,"10, 099, 273","1, 149",863,307,-,"17, 656"
39,Oklahoma,"428, 997",-,461,1.10%,"1, 451, 189",510,444,132,-,"4, 534"
40,Oregon,"157, 079",-,195,1.10%,"3, 866, 354",197,129,50,-,"2, 296"
41,Pennsylvania,"948, 643","814, 540","1, 658",1.80%,"11, 275, 755","1, 908","1, 554",354,-,"24, 349"
42,Puerto Rico,"101, 632","93, 620",305,1.30%,"387, 670",151,98,26,-,"2, 062"
43,Rhode Island,"128, 781",-,265,1.90%,"2, 253, 224",179,141,20,"7, 865","2, 547"
44,South Carolina,"525, 865","449, 977","1, 408",1.70%,"4, 195, 385",575,532,129,-,"8, 574"
45,South Dakota,"113, 589","100, 690",211,1%,"534, 513",67,51,11,-,"1, 900"
46,Tennessee,"782, 206","653, 905",0,0.90%,"6, 139, 128",593,512,163,-,"11, 543"
47,Texas,"2, 686, 818","2, 320, 857","2, 953",1.60%,"21, 032, 499","5, 423","4, 792","1, 565",-,"44, 451"
48,US Virgin Islands,"2, 714",-,0,2.60%,"25, 266",5,5,3,-,25
49,Utah,"374, 850",-,412,1%,"3, 608, 311",201,183,80,-,"1, 976"
50,Vermont,"16, 083","15, 635",119,5.80%,"1, 169, 836",26,26,4,-,208
51,Virginia,"585, 700","461, 172","1, 163",1.70%,"6, 521, 616","1, 190",973,237,"48, 428","9, 596"
52,Washington,"344, 532","325, 053",664,1.40%,"3, 787, 170",399,334,90,-,"5, 041"
53,West Virginia,"133, 445","106, 629",155,1.20%,"2, 251, 318",231,203,44,-,"2, 325"
54,Wisconsin,"621, 654","566, 693",377,0.70%,"7, 824, 428",299,273,76,-,"7, 106"
55,Wyoming,"54, 764","46, 397",0,0.70%,"668, 740",32,23,9,-,682

In [1]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(2).csv'

In [3]:
data= pd.read_csv(url)
data.head(56)

,State,Total Cases,Total Deaths,No. of Facilities Affected,Percent of state deaths from LTC facilities,New cases since Feb 24,New deaths since Feb 24,Total resident & staff doses administered,Staff & resident 1st dose administered,Staff & resident 2nd dose administered
0,Alabama,"15, 222","1, 625",0,16%,0.40%,0%,"79, 852","49, 676","29, 857"
1,Alaska,135,6,6,2%,0%,0%,"6, 533","4, 308","2, 182"
2,American Samoa,-,-,-,-,-,-,-,-,-
3,Arizona,"16, 384","2, 505","1, 000",15.30%,1%,1.30%,"109, 562","77, 651","31, 524"
4,Arkansas,"22, 498","1, 986",220,37.30%,0.50%,0.20%,"28, 403","18, 911","9, 391"
5,California,"153, 172","12, 869","2, 188",23.80%,0.20%,0.50%,"770, 530","479, 067","287, 733"
6,Colorado,"23, 978","2, 512",730,41.90%,0.10%,1.30%,"127, 325","81, 560","45, 163"
7,Connecticut,"21, 856","4, 340",346,56.30%,0.30%,0.10%,"130, 714","77, 746","52, 174"
8,Delaware,"3, 299",701,53,47.60%,1%,2.60%,"35, 519","24, 243","11, 042"
9,Distrcit of Columbia,"2, 275",246,30,23.90%,-0.30%,0.40%,"8, 161","5, 336","2, 709"
10,Florida,"81, 461","10, 713","1, 913",33.20%,0.70%,2.10%,"392, 801","236, 719","153, 299"
11,Georgia,"40, 087","4, 178",693,23.30%,0.90%,0%,"119, 927","72, 904","46, 281"
12,Guam,-,-,-,NaN,NaN,NaN,1,1,0
13,Hawaii,91,18,43,4%,0%,0%,"22, 155","13, 987","8, 153"
14,Idaho,"9, 054",762,317,40.60%,0.60%,2.30%,"26, 501","16, 357","10, 062"
15,Illinois,"75, 084","9, 857","1, 538",42.80%,0.70%,1.70%,"403, 155","278, 072","123, 857"
16,Indiana,"40, 185","6, 052",746,47.50%,0.30%,1.20%,"129, 513","81, 150","48, 032"
17,Iowa,"6, 085","2, 188",303,39.40%,0%,1.40%,"136, 205","89, 793","45, 552"
18,Kansas,"14, 670","1, 833",644,38.10%,0.40%,0.90%,"89, 151","55, 170","33, 747"
19,Kentucky,"29, 450","2, 235",408,46.40%,0.40%,0.40%,"93, 784","63, 387","29, 936"
20,Louisiana,"28, 510","2, 984",477,30.60%,0.30%,-0.20%,"108, 527","74, 390","33, 619"
21,Maine,"4, 257",372,109,52.70%,0.10%,1.60%,"37, 378","23, 696","13, 599"
22,Maryland,"31, 685","3, 453",320,43.40%,0.50%,0.70%,"171, 798","112, 820","57, 816"
23,Massachusetts,"34, 703","8, 647",424,52.70%,0.10%,1.40%,"307, 826","184, 204","121, 832"
24,Michigan,"39, 256","5, 074",726,30.50%,0.30%,-0.50%,"264, 550","176, 845","86, 426"
25,Minnesota,"33, 124","4, 070","1, 068",62.10%,0.20%,0.60%,"161, 301","107, 612","53, 111"
26,Mississippi,"10, 393","1, 954",240,28.70%,0.10%,0.50%,"51, 193","32, 180","18, 810"
27,Missouri,"15, 594","2, 169",630,26.60%,0.50%,1.80%,"146, 343","95, 173","50, 687"
28,Montana,"5, 667",476,204,34.50%,0.40%,0.60%,"21, 058","13, 683","7, 341"
29,Nebraska,"9, 975","1, 003",397,47.50%,0%,0%,"57, 057","37, 788","19, 112"
30,Nevada,"7, 519",737,217,14.60%,0.40%,0.70%,"72, 473","51, 523","20, 708"
31,New Hampshire,"8, 337",817,-,69%,2.40%,1.20%,"47, 400","28, 013","19, 194"
32,New Jersey,"53, 375","7, 969","1, 270",33.80%,0.40%,0.10%,"237, 267","145, 634","90, 394"
33,New Mexico,"7, 618",976,229,25.60%,0.50%,1.50%,"37, 494","25, 314","11, 930"
34,New York,"14, 450",698,-,37%,NaN,0.40%,"394, 739","250, 173","140, 717"
35,North Carolina,"50, 476","5, 009",710,43.50%,2%,1.90%,"210, 805","143, 493","66, 126"
36,North Dakota,"9, 192",878,170,59.40%,0.80%,0.10%,"6, 531","3, 626","2, 875"
37,Northern Mariana Islands,-,-,-,NaN,NaN,NaN,1,1,0
38,Ohio,"82, 836","6, 602","1, 614",37.40%,0.60%,-6.90%,"353, 079","228, 091","122, 021"
39,Oklahoma,"12, 484","1, 110",489,24.50%,1.70%,3.60%,"63, 689","43, 389","19, 956"
40,Oregon,"13, 362","1, 210",603,52.70%,1.50%,2.10%,"113, 705","72, 160","41, 323"
41,Pennsylvania,"80, 835","12, 565","1, 562",51.60%,1.80%,1.70%,"402, 529","236, 048","164, 089"
42,Puerto Rico,"1, 373",154,987,7.50%,0%,0%,"71, 844","53, 117","18, 691"
43,Rhode Island,"6, 825","1, 610",133,"63,2%",0.20%,1.30%,"49, 196","30, 283","18, 725"
44,South Carolina,"17, 751","1, 871",470,21.40%,1.90%,0.90%,"100, 132","64, 187","35, 257"
45,South Dakota,"4, 802",866,216,45.60%,1%,0.30%,"12, 467","8, 501","3, 955"
46,Tennessee,"33, 871","2, 605",586,22.60%,0.60%,1.70%,"100, 106","67, 870","31, 907"
47,Texas,"89, 797","10, 373","2, 308",23.30%,0.80%,0.40%,"457, 323","284, 052","170, 205"
48,US Virgin Islands,-,-,-,NaN,NaN,NaN,100,97,3
49,Utah,"10, 073",652,319,33%,0.20%,5.20%,"55, 061","34, 733","20, 067"
50,Vermont,889,125,37,60.10%,0.80%,0%,"20, 954","13, 225","7, 649"
51,Virginia,"30, 209","3, 741",944,39%,1.20%,9.80%,"200, 545","121, 129","77, 510"
52,Washington,"18, 697","2, 481","2, 185",49. 2%,4.30%,7.10%,"152, 054","100, 799","50, 509"
53,West Virginia,"7, 412",686,123,29.5 %,0.20%,0.10%,"25, 934","17, 465","8, 400"
54,Wisconsin,"8, 260","1, 956","2, 094",27.50%,0.70%,3.40%,"159, 998","114, 406","45, 194"
55,Wyoming,"2, 376",194,51,28.40%,0.70%,6%,"6, 747","3, 907","2, 819"

In [4]:
data= pd.DataFrame(data)
data.drop(['New cases since Feb 24',
           'New deaths since Feb 24'], axis = 1, inplace=True)
data.head(56)

,State,Total Cases,Total Deaths,No. of Facilities Affected,Percent of state deaths from LTC facilities,Total resident & staff doses administered,Staff & resident 1st dose administered,Staff & resident 2nd dose administered
0,Alabama,"15, 222","1, 625",0,16%,"79, 852","49, 676","29, 857"
1,Alaska,135,6,6,2%,"6, 533","4, 308","2, 182"
2,American Samoa,-,-,-,-,-,-,-
3,Arizona,"16, 384","2, 505","1, 000",15.30%,"109, 562","77, 651","31, 524"
4,Arkansas,"22, 498","1, 986",220,37.30%,"28, 403","18, 911","9, 391"
5,California,"153, 172","12, 869","2, 188",23.80%,"770, 530","479, 067","287, 733"
6,Colorado,"23, 978","2, 512",730,41.90%,"127, 325","81, 560","45, 163"
7,Connecticut,"21, 856","4, 340",346,56.30%,"130, 714","77, 746","52, 174"
8,Delaware,"3, 299",701,53,47.60%,"35, 519","24, 243","11, 042"
9,Distrcit of Columbia,"2, 275",246,30,23.90%,"8, 161","5, 336","2, 709"
10,Florida,"81, 461","10, 713","1, 913",33.20%,"392, 801","236, 719","153, 299"
11,Georgia,"40, 087","4, 178",693,23.30%,"119, 927","72, 904","46, 281"
12,Guam,-,-,-,NaN,1,1,0
13,Hawaii,91,18,43,4%,"22, 155","13, 987","8, 153"
14,Idaho,"9, 054",762,317,40.60%,"26, 501","16, 357","10, 062"
15,Illinois,"75, 084","9, 857","1, 538",42.80%,"403, 155","278, 072","123, 857"
16,Indiana,"40, 185","6, 052",746,47.50%,"129, 513","81, 150","48, 032"
17,Iowa,"6, 085","2, 188",303,39.40%,"136, 205","89, 793","45, 552"
18,Kansas,"14, 670","1, 833",644,38.10%,"89, 151","55, 170","33, 747"
19,Kentucky,"29, 450","2, 235",408,46.40%,"93, 784","63, 387","29, 936"
20,Louisiana,"28, 510","2, 984",477,30.60%,"108, 527","74, 390","33, 619"
21,Maine,"4, 257",372,109,52.70%,"37, 378","23, 696","13, 599"
22,Maryland,"31, 685","3, 453",320,43.40%,"171, 798","112, 820","57, 816"
23,Massachusetts,"34, 703","8, 647",424,52.70%,"307, 826","184, 204","121, 832"
24,Michigan,"39, 256","5, 074",726,30.50%,"264, 550","176, 845","86, 426"
25,Minnesota,"33, 124","4, 070","1, 068",62.10%,"161, 301","107, 612","53, 111"
26,Mississippi,"10, 393","1, 954",240,28.70%,"51, 193","32, 180","18, 810"
27,Missouri,"15, 594","2, 169",630,26.60%,"146, 343","95, 173","50, 687"
28,Montana,"5, 667",476,204,34.50%,"21, 058","13, 683","7, 341"
29,Nebraska,"9, 975","1, 003",397,47.50%,"57, 057","37, 788","19, 112"
30,Nevada,"7, 519",737,217,14.60%,"72, 473","51, 523","20, 708"
31,New Hampshire,"8, 337",817,-,69%,"47, 400","28, 013","19, 194"
32,New Jersey,"53, 375","7, 969","1, 270",33.80%,"237, 267","145, 634","90, 394"
33,New Mexico,"7, 618",976,229,25.60%,"37, 494","25, 314","11, 930"
34,New York,"14, 450",698,-,37%,"394, 739","250, 173","140, 717"
35,North Carolina,"50, 476","5, 009",710,43.50%,"210, 805","143, 493","66, 126"
36,North Dakota,"9, 192",878,170,59.40%,"6, 531","3, 626","2, 875"
37,Northern Mariana Islands,-,-,-,NaN,1,1,0
38,Ohio,"82, 836","6, 602","1, 614",37.40%,"353, 079","228, 091","122, 021"
39,Oklahoma,"12, 484","1, 110",489,24.50%,"63, 689","43, 389","19, 956"
40,Oregon,"13, 362","1, 210",603,52.70%,"113, 705","72, 160","41, 323"
41,Pennsylvania,"80, 835","12, 565","1, 562",51.60%,"402, 529","236, 048","164, 089"
42,Puerto Rico,"1, 373",154,987,7.50%,"71, 844","53, 117","18, 691"
43,Rhode Island,"6, 825","1, 610",133,"63,2%","49, 196","30, 283","18, 725"
44,South Carolina,"17, 751","1, 871",470,21.40%,"100, 132","64, 187","35, 257"
45,South Dakota,"4, 802",866,216,45.60%,"12, 467","8, 501","3, 955"
46,Tennessee,"33, 871","2, 605",586,22.60%,"100, 106","67, 870","31, 907"
47,Texas,"89, 797","10, 373","2, 308",23.30%,"457, 323","284, 052","170, 205"
48,US Virgin Islands,-,-,-,NaN,100,97,3
49,Utah,"10, 073",652,319,33%,"55, 061","34, 733","20, 067"
50,Vermont,889,125,37,60.10%,"20, 954","13, 225","7, 649"
51,Virginia,"30, 209","3, 741",944,39%,"200, 545","121, 129","77, 510"
52,Washington,"18, 697","2, 481","2, 185",49. 2%,"152, 054","100, 799","50, 509"
53,West Virginia,"7, 412",686,123,29.5 %,"25, 934","17, 465","8, 400"
54,Wisconsin,"8, 260","1, 956","2, 094",27.50%,"159, 998","114, 406","45, 194"
55,Wyoming,"2, 376",194,51,28.40%,"6, 747","3, 907","2, 819"

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(3).csv'

In [ ]:
data= pd.read_csv(url)
data.head(2000)

,State,Black or African American,Hispanic or Latino,Asian,White,Native Hawaiian or Other Pacific Islander,American Indian or Alaska Native,Asian or Pacific Islander,Black or African America,Hispanic or Latino.1,...,White.1,Native Hawaiian or Other Pacific Islander.1,American Indian or Alaska Native.1,Asian or Pacific Islander.1,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Alabama,"6, 373","5, 901","3, 430","4, 829",0,0,-,171,66,...,142,NaN,NaN,-,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,"6, 193","6, 163","5, 329","3, 844","16, 384","11, 151",-,37,25,...,27,185,101,-,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,-,-,-,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,"8, 675","11, 072","4, 978","7, 997",-,"14, 728",-,146,212,...,209,-,492,-,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,"11, 064","15, 318","6, 402","9, 022","38, 452","5, 236",-,171,83,...,181,641,88,-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(4).csv'

In [ ]:
data= pd.read_csv(url)
data.head(2000)

,country,total_weekly_hours_worked(estimates_in_thousands),percentage_of_working_hrs_lost,percent_hours_lost_40hrs_per_week,percent_hours_lost_48hrs_per_week,labour_dependency_ratio,employed_female_25+_2019,employed_male_25+_2019,ratio_of_weekly_hours_worked_by_population_age_15-64
0,Afghanistan,350285.606,6.5,607.476,506.230,3.57,1334.243,5424.911,16.2
1,Angola,457913.433,8.6,1075.838,896.532,1.70,4612.109,4724.669,27.1
2,Albania,49922.483,3.9,51.087,42.572,1.77,500.112,651.870,25.5
3,United Arab Emirates,320690.368,9.3,824.579,687.149,0.41,996.030,5111.770,38.6
4,Argentina,525994.010,21.0,3492.559,2910.466,1.43,7264.330,9496.191,18.1
...,...,...,...,...,...,...,...,...,...
278,Central and Western Asia: Low income,88915.243,3.2,73.560,61.300,3.05,666.433,1135.207,15.7
279,Yemen,241343.840,1.3,81.151,67.626,4.08,310.474,4376.266,13.9
280,South Africa,620660.710,13.6,2433.481,2027.901,2.60,6919.574,8697.138,15.9
281,Zambia,261419.958,2.6,173.064,144.220,1.85,2359.041,2609.583,26.4
282,Zimbabwe,160198.453,9.1,399.245,332.705,1.19,2456.059,2230.026,19.6

In [ ]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(5).csv'

In [ ]:
data= pd.read_csv(url)
data.head(3000)

,FIPS,State,Year,Month,Employable Population,Employed,Unemployed
0,1,Alabama,2016,1,"2,172,388","2,042,932","129,456"
1,2,Alaska,2016,1,"362,326","338,026","24,300"
2,4,Arizona,2016,1,"3,199,470","3,019,993","179,477"
3,5,Arkansas,2016,1,"1,337,486","1,280,917","56,569"
4,6,California,2016,1,"18,926,070","17,855,481","1,070,589"
...,...,...,...,...,...,...,...
2902,51,Virginia,2020,9,"4,279,495","4,015,630","263,865"
2903,53,Washington,2020,9,"3,901,444","3,598,066","303,378"
2904,54,West Virginia,2020,9,"773,715","707,166","66,549"
2905,55,Wisconsin,2020,9,"3,137,058","2,967,674","169,384"
2906,56,Wyoming,2020,9,"294,960","276,990","17,970"