<a href="https://colab.research.google.com/github/maezie19-02475/ITBA-3206-The-Conquerors/blob/main/COVID_19_DESCRIPTIVE_ANALYSIS_INFORMATION_AND_IMPACT_ON_EMPLOYMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COVID-19 DESCRIPTIVE ANALYSIS: INFORMATION AND IMPACT ON EMPLOYMENT

In [3]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

In [5]:
url = 'https://raw.githubusercontent.com/maezie19-02475/ITBA-3206-The-Conquerors/main/Datasets/Datasets%20(1).csv'

In [7]:
data= pd.read_csv(url)
data.head(100)

,State,Total Cases,Confirmed Cases,Probable Cases,New cases today,Change over 7 days,Total tests (test encounters),Total tests (specimens),Total tests (people),Total tests,...,Ever hospitalized,Ever in ICU,Ever on ventilator,Now hospitalized (confirmed + suspected),Now hospitalized (confirmed only),Now in ICU (confirmed + suspected),Hospital discharges,Total deaths,Probable deaths,Confirmed deaths
0,Alabama,"499, 819","392, 077","107, 742",408,1.30%,-,0,"2, 323, 788","3, 977, 676",...,"45, 976","2, 676","1, 515",683,540,208,0,"10, 148","2, 185","7, 963"
1,Alaska,"56, 886",-,-,0,1.60%,-,"1, 731, 628",-,"1, 848, 812",...,"1, 293",-,-,32,27,6,0,305,0,0
2,American Samoa,0,0,NaN,-,NaN,-,"2, 140",-,-,...,-,-,-,-,-,-,-,0,-,-
3,Arizona,"826, 454","769, 935","56, 519","1, 335",1.20%,-,"7, 908, 105","3, 842, 945","6, 247, 689",...,"57, 907",-,-,"1, 014",700,257,"118, 932","16, 328","1, 925","14, 403"
4,Arkansas,"324, 818","255, 726","69, 092",165,0.70%,-,"2, 736, 442",-,"2, 479, 922",...,"14, 926",-,"1, 533",442,339,135,-,"5, 319","1, 011","4, 308"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN